# Lab | Inferential statistics - T-test & P-value

### Instructions

1. *One-tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.


# Inferential statistics - ANOVA

Note: The following lab is divided into 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data were collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

1. *One-tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

In [3]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [22]:
machine = pd.read_csv('files_for_lab/machine.txt', sep='\t', encoding='UTF16')
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [25]:
new_machine = machine['New machine']
old_machine = machine.iloc[:, 1]

In [27]:
# One-tailed t-test
# H0: mean of new machine >= mean of old machine
# Ha: mean of new machine < mean of old machine

alpha = 0.05

t_statistic, p_value = st.ttest_1samp(new_machine, popmean = old_machine.mean(), alternative = "less")

print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.2f}".format(t_statistic, p_value))

The t statistic of our sample is: -5.04 and the corresponding p-value is: 0.00

* p value < alpha --> We reject H0 --> New machine is equal or better than old machine

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

In [28]:
scores = pd.read_csv('files_for_lab/pokemon.csv')

In [29]:
scores

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [41]:
# two-tailed t-test
# H0: mean defense scores = mean attack scores
# Ha: mean defense scores != mean attack scores

scores_attack = scores['Attack']
scores_defense = scores['Defense']

alpha = 0.05/2 # two sided

t_stat, p_value = st.ttest_rel(scores_attack, scores_defense)
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.6f}".format(t_stat, p_value))

The t statistic of our sample is: 4.33 and the corresponding p-value is: 0.000017

p value < alpha/2 --> we reject H0

# Inferential statistics - ANOVA

Note: The following lab is divided into 2 sections which represent activities 3 and 4.

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data were collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

In [46]:
plasma = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
plasma.columns = ['Power', 'Etching Rate']

In [47]:
plasma

    Power  Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [48]:
group_df = plasma.groupby('Power')['Etching Rate'].agg(mean_etching='mean', Samples='size').reset_index()

In [49]:
group_df

   Power  mean_etching  Samples
0  160 W         5.792        5
1  180 W         6.238        5
2  200 W         8.318        5

In [52]:
# H0: mean etching rate of 160W = mean etching rate of 180W = mean etching rate of 200W
# Ha: means are not equal

alpha = 0.05 # Significance level

# In our case, the groups are the Power levels, and the "y" is the "Etching Rate"

# Calculating SST
S2t = 0
for power in plasma['Power'].unique():
    ng = len(plasma[plasma['Power'] == power])
    S2t  += ng * ( ( plasma[plasma['Power'] == power]['Etching Rate'].mean() - plasma['Etching Rate'].mean() ) ** 2)
S2t /= ( plasma['Power'].nunique() - 1 ) # Number of  K = groups/cities

print("The value of S2t is {:.2f}".format(S2t))

# Calculating SSE
S2E = 0
for power in plasma['Power'].unique():
    ng = len(plasma[plasma['Power'] == power])
    S2E += ( ng - 1 ) * np.var(plasma[plasma['Power'] == power]['Etching Rate'],ddof=1)
S2E /= ( len(plasma) - plasma['Power'].nunique() )

print("The value of S2E is {:.2f}".format(S2E))

The value of S2t is 9.09
The value of S2E is 0.25

In [53]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [54]:
#Degrees of freedom

d1 = plasma['Power'].nunique() - 1
d2 = len(plasma) - plasma['Power'].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

In [55]:
#Thus, the probability to get any value smaller or equal to F

st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [56]:
#The opposite is given by

1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [ ]:
Therefore, the probability to get a value bigger than F is:

𝑃(𝑥>𝐹)=1−𝑃(𝑥≤𝐹)=7.5*10-6<0.05
 
Therefore, we reject the H0

## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [59]:
print(st.f_oneway(plasma[plasma['Power'] == '160 W']['Etching Rate'],plasma[plasma['Power'] == '180 W']['Etching Rate'],
                  plasma[plasma['Power'] == '200 W']['Etching Rate']))

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)